.header{
    background-color: var(--dark-green);
    height: 80px;
    display: flex;
    align-items: center;
}
.logo{
    width: 45px;
    height: 45px;
    background-image:url('../img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: var(--sfs);
}
.nav{
    width: calc(var(--sfs) * 16);
    display: flex;
    justify-content: space-around;
    margin-left: var(--sfs);

}
.nav a {
    color: white;
    text-decoration: none;
    font-family: var(--serif);
    font-size: var(--sfs);
    transition: all 0.5s;
    border:2px solid var(--dark-green);
    padding: 3px;
    
}
.nav a:hover{
    color: var(--brown);
    /* border:2px solid black; */
    /* border-radius: 5px; */
    text-decoration: underline;
}
.side_nav{
    position:fixed;
    top: 40%;
    /* left: 2%; */
    background-color: var(--dark-green);
    background-color: rgba(255, 0, 0, 0.349);
    display: flex;
    flex-direction: column;
    padding: 7px;
    border-radius: 0 5px 5px 0;
    z-index: 2;
    width: 150px;
    /* opacity: 0.4; */
    background-blend-mode: hard-light;
}
.side_nav:hover{
    opacity: 0.8;
}
.side_nav__a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size:calc(var(--sfs)/1.4);
    font-family: var(--serif);
    opacity: 1;
}

.side_nav__a:focus{
    color: var(--dark-red);
}